@(bindForm: Form[models.request.makeShift.ConditionRequest])

@import helper._
@import models.request.makeShift._
@import helper.twitterBootstrap._

@main("CutEW") {
<div class="container">
	
	<div class="row">
		<h1 class="">What is CutEW?</h1>
		<p class="col-xs-12 col-sm-12 col-md-12 bg-info">
		CutEW は条件を入力するだけで簡易なシフト表を作成できるアプリケーションです。<br/>
		シフト表は Excel2007形式（.xlsx）で出力されます。
		</p>
	</div>
	
	@form(action = routes.MakeShiftController.makeShift) {
		<div class="row">
			<h2 class="col-xs-12 col-sm-12 col-md-12 bg-info">	</h1>
		</div>
		<table class="table table-hover">
		  <thead>
		    <tr class="info">
		      <th colspan="2">お店の条件を入力してください</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th>始業時間</th>
		      <td>@(inputText(
					bindForm("openingTime")
					,'type -> "time"
					,'step -> 300
					)(simpleInput, implicitly[Lang]))
		      </td>
		    </tr>
		    <tr>
		      <th>終業時間</th>
		      <td>@(inputText(
					bindForm("closingTime")
					,'type -> "time"
					,'step -> 300
					)(simpleInput, implicitly[Lang]))
		      </td>
		    </tr>
		    <tr>
		      <th>交替制</th>
		      <td>@(inputRadioGroup(
		      		 bindForm("shiftSystem")
		      		,options("1"->"あり","0"->"なし")
		      		)(simpleInput, implicitly[Lang]))
		      </td>
		    </tr>
		    <tr id="shiftDetail">
		      <th>シフト詳細</th>
		      <td>@(select(
		      		 bindForm("stageNum")
		      		,options(ConditionChoices.stageNum))(simpleInput, implicitly[Lang]))交替制
		      </td>
		    </tr>
		    <tr>
		      <th>最低必要人員数</th>
		      <td>@(inputText(
		      		 bindForm("minRequiredMember")
		      		,'size->5
					)(simpleInput, implicitly[Lang]))人
		      </td>
		    </tr>
		  </tbody>
		</table>
		
		<table class="table table-hover">
		  <thead>
		    <tr class="info">
		      <th colspan="2">メンバーの条件を入力してください
		      </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th>シフト表イメージ</th>
		      <td>
				<table class="table table-striped table-bordered shift-image">
				  <thead>
				    <tr class="info">
				    	<th>メンバー名</th>
				    	@for(i <- 1 to 31) {
				    		<th class="day@i">@i</th>
				    	}
				    </tr>
				  </thead>
				  <tbody class="employees">
			    	@for(empNum <- 0 to 14) {
					    <tr class="employee_@empNum">
					    	<th>
					    		@*メンバー名*@
					    		@{inputText(bindForm("employees["+empNum+"].name"),'size->8)(simpleInput, implicitly[Lang])}
					    		<input type="hidden" name="employees[@empNum].desirableHolidays")
					    	</th>
					    	@for(i <- 1 to 31) {
					    		<td class="calendar-cell day@i">
						    		@{checkbox(bindForm("employees["+empNum+"].desirableHolidays[]"),'value->i)
						    			(simpleInput, implicitly[Lang])}
						    		<span class="holiday_symbol" style="visibility:hidden">休</span>
					    		</td>
					    	}
					    </tr>
					}
				  </tbody>
				</table>
	      		<input type="button" class="btn btn-default btn-sm add-member" value="メンバー追加">
		      </td>
		    </tr>
		  </tbody>
		</table>
		
		<input type="submit" class="btn btn-primary btn-lg">
	}

</div>
}
